body{
    text-align:center;
    background-color:#FF5252;
    }
    img{
    height:500px;
    width:50%;
    border-style:solid;
    border-width:8px;
    border-color:lightgreen;
    border-radius:50px;
    }
    button{
    font-size:larger;
    margin-top:25px;
    margin-bottom:25px;
    background-color:aqua;
    border-style:solid;
    border-width:4px;
    border-color:black;
    }
    p{
    font-size:35px;
    font-weight:900;
    color:navy
    }
    h1,h2{
    color:navy;
    }